/30 Days of Code/Day1/nbproject/private/
/30 Days of Code/Day1/build/
/30 Days of Code/Day0/build/
/30 Days of Code/Day2/nbproject/private/
/30 Days of Code/Day2/build/
/30 Days of Code/Day3/nbproject/private/
/30 Days of Code/Day3/build/
/30 Days of Code/Day4/nbproject/private/
/30 Days of Code/Day4/build/
/30 Days of Code/Day5/nbproject/private/
/30 Days of Code/Day5/build/